/*sign_up*/

.outer-container.auth-sign-up-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 3em;
}

.auth-sign-up-container {
    padding: 1em;
    border-radius: 4em;
    margin: auto;
    min-height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70em;
    width: 65%;
    background-color: #ffe5e5;
    flex-direction: column;
    text-align: left;
}

.auth-sign-up-title {
    font-size: 2.5em;
    color: #333;
    margin: 0.5em 0;
    word-wrap: break-word;
}

.auth-sign-up-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2em;
    margin-left: 2em;
}

.auth-sign-up-form p {
    font-size: 1.2em;
    color: #12330c;
    margin: 0.5em 0;
    word-wrap: break-word;
}

.auth-sign-up-form li {
    font-size: 1.3em;
    color: #12330c;
    margin: 0.5em 0;
    word-wrap: break-word;
}

.auth-sign-up-form label {
    font-size: 1.5em;
    color: #12330c;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.5em 0.5em;
    word-wrap: break-word;
}

.auth-sign-up-form input {
    font-size: 1.2em;
    width: 90%;
    padding: 0.5em;
    margin: 0.5em 0;
}

.sign-up-auth-btn {
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1vw;
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    width: 15vw;
    padding: 0.3vw 0.6vw;
    background-color: #495e53;
}

.sign-up-auth-btn:hover {
    background-color: #56d3a2;
}

#id_password2_helptext {
    display: block;
    margin-top: 0.5em;
    font-size: 1.3em;
    color: #12330c;
}

/*login*/

.outer-container.auth-login-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-login-container {
    padding: 1em;
    border-radius: 4em;
    margin: auto;
    min-height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40em;
    width: 65%;
    background-color: #ffe5e5;
    flex-direction: column;
    text-align: left;
}

.auth-login-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 1em;
    word-wrap: break-word;
}

.auth-login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2em;
}

.auth-login-form p {
    font-size: 1.2em;
    color: #12330c;
    margin: 0.5em 0;
    word-wrap: break-word;
}

.auth-login-form label {
    font-size: 1.5em;
    color: #12330c;
    text-transform: uppercase;
    font-weight: bold;
    word-wrap: break-word;
}

.auth-login-form input {
    font-size: 1.2em;
    width: 90%;
    padding: 0.5em;
    margin: 0.5em 0;
}

.login-auth-btn {
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 0.3em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em 0;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background-color: #495e53;
    width: 10em;
}

.login-auth-btn:hover {
    background-color: #56d3a2;
}

#id_password2_helptext {
    display: block;
    margin-top: 0.5em;
    font-size: 1.3em;
    color: #12330c;
}

