/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Navigation Menu */
.nav-menu {
    background-color: #333;
    padding: 1.1em 0;
}

/* Navigation Menu List Items */
.nav-menu ul {
    list-style-type: none;
    text-align: left;
}

/* Navigation Menu List Item Links */
.nav-menu ul li {
    display: inline;
    margin: 0 1.1em;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.3em;
}

.nav-menu ul li a:hover {
    color: #ffc107;
}

.main-block {
    /*background-color: #495e53;*/
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-image: url('../images/estudio-bloom-NYqCYYqymlM-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Footer */
.page-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.1em 0;
}
