.home-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: rgba(28, 28, 28, 0.53);
    border-radius: 20px;
}

.home-recipe-card {
    background-color: #ffe5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 70vh;
}

.home-recipe-card:hover {
    transform: translateY(-5px);
}

.home-recipe-card img {
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.home-container .input-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.home-container .home-search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.home-container .home-search-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    max-width: 70%;
}

.home-container .home-search-input:hover {
    border-color: #9745a0;
    border-width: 5px;
}

.home-container .home-search-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #2f8f32;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.home-container .home-search-btn:hover {
    background-color: #9745a0;
    border-color: #4CAF50;
    border-width: 5px;
}

.home-container .home-recipe-content {
    text-align: center;
}

.home-container .home-recipe-title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    text-align: center;
}

.home-container .home-recipe-author,
.home-container .home-recipe-description,
.home-container .home-recipe-category,
.home-container .home-recipe-instructions {
    text-align: center;
    color: #555;
    margin-bottom: 5px;
    font-size: 1.2em;
    margin-top: 1.2em;
}

.home-container .home-recipe-ingredients {
    text-align: center;
    color: #555;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    margin-top: 1.3em;
}

.home-container .home-recipe-ingredient-list {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    font-size: 1.2em;
}

.home-container .home-like-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.home-container .home-like-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container .home-like-btn img {
    width: 2em;
    height: auto;
    transition: transform 0.3s;
    align-self: center;
}

.home-container .home-like-btn:hover img {
    transform: scale(1.3);
}

.home-container .home-like-count {
    font-style: italic;
    color: #3a3939;
    margin-bottom: 0.7em;
    text-align: center;
    font-size: 1.3em;
}

.home-container .home-liked-msg,
.home-container .home-unliked-msg {
    margin: 0.3em 0.3em;
    color: #3a3939;
    text-align: center;
    font-size: 1.3em;
}

