.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.recipe-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-card h3 {
    margin-bottom: 10px;
}

.recipe-card p {
    margin-bottom: 10px;
}

.recipe-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}