{% extends 'base.html' %}

{% block content %}
<div class="user-liked-recipe-list-container">
    <h2 class="user-liked-recipe-list-heading"><3 Recipes I Liked <3</h2>
    <ul class="user-liked-recipe-list">
        {% for recipe in object_list %}
            <li class="user-liked-recipe-item">
                <a href="{% url 'recipe-detail' pk=recipe.pk %}" class="user-liked-recipe-link">
                    <h3 class="user-liked-recipe-name">{{ recipe.name }}</h3>
                    {% if recipe.photo %}
                        <img src="{{ recipe.photo.url }}" alt="{{ recipe.name }} Image" class="user-liked-recipe-image">
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
